<main id="main" class="main">
    <div class="pagetitle m-5">
        <h2>Trang quản trị</h2>
    </div>
    
    <section class="section dashboard">
       

            <!-- Left side columns -->
            
                <!-- Recent Sales -->
            <div class="col-12" style="background-image:url(/admin/assets1/images/bg.jpg); width: 100%; height: 1000px">
                    <div class="card recent-sales">
                        <div class="card-body mt-4">
                            
                           
                        </div>

                    </div>
                </div><!-- End Recent Sales -->
           
       
    </section>
</main>