@model Users;
@    using Project.Utilities;
    using Project.Areas.Admin.Models;
@{
    Layout = "";
}
<!doctype html>
<html lang="en">
<head>
	<title>Login 10</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="~/admin/assets1/css/style.css">

</head>
<body class="img" style="background-image:url(/admin/assets1/images/bg.jpg)">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Đăng ký tài khoản</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">						
						<form class="signin-form" asp-controller="Register" asp-action="Index">

							<div class="form-group">
								<input type="text" class="form-control" placeholder="Tên người dùng" asp-for="UserName" required>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Email" asp-for="UserEmail" required>
							</div>
							<div class="form-group">
								<input id="password-field" type="password" class="form-control" placeholder="Mật khẩu" asp-for="Pass" required>
								<span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
							</div>
							<div class="col-12 text-center text-danger">
								<h6>@Functions._MessEmail</h6>
							</div>
							<div class="form-group">
								<button type="submit" class="form-control btn btn-primary submit px-3">Đăng ký</button>
							</div>
							<div class="form-group d-none">
								<input asp-for="isActive" class="form-control" value="True" />
							</div>	
							
						</form>
						
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="~/admin/assets1/js/jquery.min.js"></script>
	<script src="~/admin/assets1/js/popper.js"></script>
	<script src="~/admin/assets1/js/bootstrap.min.js"></script>
	<script src="~/admin/assets1/js/main.js"></script>
</body>
</html>

